<?xml version="1.0" encoding="UTF-8" ?>
<!-- Copyright 2015-2016 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyrus.demo.domain.DynamicRecord">
	<resultMap id="Role" type="com.cyrus.demo.domain.DynamicRecord">
		<id property="id" column="DRID" jdbcType="INTEGER" />
		<result property="operator" column="OPERATOR" jdbcType="VARCHAR" />
		<result property="action" column="DACTION" jdbcType="VARCHAR" />
		<result property="comment" column="COMMENT" jdbcType="VARCHAR" />
		<result property="operatedTime" column="OPERATEDTIME" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="columns">
		 OPERATOR ,DACTION ,COMMENT ,OPERATEDTIME
	</sql>

	<sql id="Table">
		T_DYNAMIC_RECORD
	</sql>

	<!-- <sql id="dynamicWhere">
		<where>
			<if test="filters != null">
				<if test="filters.rolename != null">
					AND (
					ROLENAME LIKE CONCAT('%' , #{filters.rolename} , '%')
					)
				</if>
			</if>
		</where>
	</sql>

	<sql id="dynamicSort">
		<if test="sort != null and sort.size() > 0">
			ORDER BY
			<foreach collection="sort" item="item" separator=",">
				${item.field} ${item.dir}
			</foreach>
		</if>
	</sql> -->

</mapper>
